ul li:first-child {
  background-color: aqua;
  border-radius: 20px;
  color: black;
}
.sidebar {
  height: 100vh;
  background-color: #333;
  border-top-right-radius:50px;
  width: clamp(165px, 100%, 300px);
  border-bottom-right-radius:50px;
}


.content {
  margin-left: 250px;
  transition: margin-left 0.3s;
}

.content-full {
  margin-left: 0;
}


/* @media (max-width: 768px) {
  .sidebar {
    display: none;
  }

} */
