<!-- <div class="sidebar" [ngClass]="{ 'sidebar': true, 'd-none d-md-block': !isVisible }"> -->
<div class="sidebar" >
  <a><h4 class="text-info p-3">MOVIBES</h4></a>
  <ul class="nav flex-column px-3">
    <li  class="nav-item mb-2"><a class="nav-link text-white" href="#">🏠 Home</a></li>
    <li class="nav-item mb-2"><a class="nav-link text-white" href="#">🎬 Movies</a></li>
    <li class="nav-item mb-2"><a class="nav-link text-white" href="#">📺 TV Series</a></li>
    <li class="nav-item mb-2"><a class="nav-link text-white" href="#">📅 Upcoming</a></li>
  </ul>
</div>
