<div class="container " >
    <div class="container-fluid p-0   ">
        <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
              <div class="position-relative " style="aspect-ratio: 3 / 1;" style="height: 280px;" class="d-none d-md-block"  > <!-- عرض:ارتفاع -->
                
                <img [src]="slide.image" class="w-110 h-95 object-fit-cover" style="object-fit: cover;"  [alt]="slide.title">
            
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50"></div>
            </div>
        </div>
      </div> 
      <div class="carousel-indicators">
        <button *ngFor="let slide of slides; let i = index" 
                type="button" 
                [class.active]="i === 0" 
                [attr.aria-current]="i === 0" 
                data-bs-target="#heroCarousel" 
                [attr.data-bs-slide-to]="i" 
                [attr.aria-label]="'Slide ' + (i+1)"></button>
      </div>
    </div>
  </div>
</div>
  