<ng-container *ngIf="isLoading; else loadedContent">
  <div class="vh-100 d-flex justify-content-center align-items-center bg-dark">
    <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>

<ng-template #loadedContent>
  <div *ngIf="movie; else notFound" class="container my-3">
    <div class="row rounded-4 g-4 bg-dark justify-content-center">
      <!-- Left Section -->
      <div class="col-12 col-md-9">
        <div class="rounded-4 text-light py-4 px-3">
          <div class="top d-flex flex-wrap align-items-center mb-3">
            <h2 class="title me-4">{{ movie.title }}</h2>
            <div class="d-flex flex-wrap align-items-center gap-2">
              <span class="badge bg-secondary">{{ movie.release_date }}</span>
              <span class="badge bg-secondary" *ngIf="movie?.adult === false"
                >PG-13</span
              >
              <span class="badge bg-secondary" *ngIf="movie?.adult === true"
                >PG-18</span
              >
              <span class="badge bg-secondary">{{ movie.runtime }}m</span>
              <span
                class="badge main-color text-dark"
                *ngFor="let genre of movie.genres"
              >
                {{ genre.name }}
              </span>
            </div>
          </div>

          <!-- Description -->
          <div style="max-height: 150px; overflow: hidden" class="fs-5">
            {{ movie.overview.slice(0, 300) }}...
          </div>

          <div class="border-top border-secondary pt-3 mt-4">
            <div class="border-bottom border-secondary py-2">
              <strong>Status:</strong>
              <span class="main-font-color">{{ movie.status }}</span>
            </div>
            <div class="border-bottom border-secondary py-2">
              <strong>Production Companies:</strong>
              <span
                *ngFor="let com of movie.production_companies"
                class="main-font-color"
              >
                {{ com.name }} <span class="text-light">,</span>
              </span>
            </div>
            <div class="border-bottom border-secondary py-2">
              <strong>Recommendations:</strong>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <div
                  *ngFor="let rec of recommendations | slice : 0 : 5"
                  class="text-info"
                >
                  <a
                    [routerLink]="['/movies/details', rec.id]"
                    class="text-info text-decoration-none"
                  >
                    {{ rec.title }}
                  </a>
                  <span class="text-light">,</span>
                </div>
              </div>
            </div>
            <div class="border-bottom border-secondary py-2">
              <strong>Production Countries:</strong>
              <span
                *ngFor="let country of movie.production_countries"
                class="main-font-color"
              >
                {{ country.name }} <span class="text-light">,</span>
              </span>
            </div>
          </div>

          <!-- Buttons -->
          <div class="d-flex gap-3 mt-4">
            <button class="btn btn-outline-info rounded-pill">
              Top Rated Movie #{{ randomNumber }}
            </button>
            <div class="dropdown">
              <button
                class="btn btn-outline-light dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                Spoken Language
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="mb-1" *ngFor="let lang of movie.spoken_languages">
                  <span class="dropdown-item active">{{
                    lang.english_name
                  }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Section -->
      <div class="col-12 col-md-3">
        <div
          class="d-flex justify-content-between align-items-center mb-3 mt-2 pt-4"
        >
          <!-- <div class="d-flex gap-3">
            <i class="bi bi-heart-fill text-info"></i>
            <i class="bi bi-share text-light"></i>
            <i class="bi bi-bookmark-fill text-light"></i>
          </div> -->
          <div class="hide">
            ⭐ <strong>{{ movie.vote_average }}</strong> |
            {{ movie.vote_count }}
          </div>
        </div>

        <img
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          class="card-img rounded h-75"
          alt="Movie Poster"
        />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notFound>
  <div
    class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-dark text-white"
  >
    <div class="text-center animate__animated animate__fadeIn">
      <img
        src="assets/2.webp"
        alt="Image Description"
        class="img-fluid mb-4 rounded shadow-lg img-animate"
        style="max-width: 100%; height: auto; max-height: 400px"
      />
      <h1
        class="fw-bold display-4 animate__animated animate__fadeIn animate__delay-2s"
      >
        Sorry, we couldn't find that page
      </h1>
      <p
        class="text-muted fs-4 animate__animated animate__fadeIn animate__delay-3s"
      >
        The link may be broken, or the page may have been removed.
      </p>
      <a
        routerLink="/movies"
        class="btn bg-info btn-teal mt-3 px-4 py-2 btn-lg rounded-pill shadow-sm animate__animated animate__bounceIn animate__delay-4s"
      >
        🏠 Go to Home Page
      </a>
    </div>
  </div>
</ng-template>
