/* .position {
  position: absolute;
  top: 110px;
  left: 290px;
} */
.main-color {
  background-color: #3dd2cc;
}
.main-font-color {
  color: #3dd2cc !important;
}
.spoken-li {
background-color: #3dd2cc!important;}
.rate-btn {
  color: #3dd2cc;
  outline-color: #3dd2cc!important;
}
@media (max-width: 1090px) {
  .hide {
    display: none;
  }
}
/* .position {
  position: absolute;
  top: 110px;
  left: 290px;
}

@media (max-width: 768px) {
  .position {
    position: static;
    top: auto;
    left: auto;
  }
} */
