<div
  class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-dark text-white"
>
  <div class="text-center animate__animated animate__fadeIn">
    <!-- Image with rounded corners and added shadow effect -->
    <img
      src="assets/2.webp"
      alt="Image Description"
      class="img-fluid mb-4 rounded shadow-lg img-animate"
      style="max-width: 100%; height: auto; max-height: 400px"
    />

    <h1
      class="fw-bold display-4 animate__animated animate__fadeIn animate__delay-2s"
    >
      Sorry, we couldn't find that page
    </h1>

    <p
      class="text-muted fs-4 animate__animated animate__fadeIn animate__delay-3s"
    >
      The link may be broken, or the page may have been removed.
    </p>

    <a
      routerLink="/home"
      class="btn btn-teal mt-3 px-4 py-2 btn-lg rounded-pill shadow-sm animate__animated animate__bounceIn animate__delay-4s"
    >
      🏠 Go to Home Pag
    </a>
  </div>
</div>
