<div class="row m-auto row-gap-3" *ngIf="movies.length > 0">
  <app-movie-card
    class="col-md-2 col-sm-4 col-6"
    *ngFor="let movie of movies"
    [movie]="movie"
  ></app-movie-card>
</div>

<nav class="p-3 d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <button class="page-link pagination-button2" (click)="onPrevPage()" [ngClass]="{ disabled: currentPage === 1 }">Previous</button>
    </li>
    <li
      class="page-item"
      *ngFor="let i of numOfPages"
      (click)="onPageChange(i)"
    >
      <button class="page-link pagination-button"  [class.active]="currentPage === i">{{ i }}</button>
    </li>
    <li class="page-item">
      <button class="page-link pagination-button2" (click)="onNextPage()" [ngClass]="{ disabled: currentPage === numOfPages[numOfPages.length - 1] }">Next</button>
    </li>
  </ul>
</nav>
